<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p> jangan kau selalu berlaga dengan segalah hal yang sekrang kamu miliki</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque aperiam modi sed mollitia quisquam corporis maiores officia harum nesciunt adipisci, neque ea aliquid unde? Ab sunt iure quis rem quos error velit, odit aspernatur odio voluptates tenetur laudantium aliquam, architecto ipsum veritatis quam explicabo magnam natus laboriosam voluptatem nulla aliquid. Facilis, ipsum deserunt? Ducimus tempora, at facilis nisi vero inventore saepe cum qui voluptas cupiditate similique dolores perferendis accusantium officia repellat, hic, possimus quisquam asperiores nihil quidem aspernatur? Nemo voluptatem magnam porro consequuntur, tenetur ut quasi nam suscipit pariatur enim modi, autem quia architecto culpa dicta vitae ullam rem sit.</p>

    <h1>
        Data Mahasiwa
    </h1>
    <h2>
        {%for data in data_mahasiswa%}
        <h1>{{data.nama}}</h1>

        {%endfor%}
    </h2>
</body>
</html>